.idea\*
Lab1.iml
out\*
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
out/production/Lab1/HiQ_AI/BoardState.class
out/production/Lab1/HiQ_AI/Config.class
out/production/Lab1/HiQ_AI/Control.class
out/production/Lab1/HiQ_AI/Lab1_Main.class
out/production/Lab1/META-INF/Lab1.kotlin_module
.idea/vcs.xml
